.header{
    -fx-background-color: #f78200;
}

.header Label{
    -fx-background-color: #141510;
    -fx-border-color: red;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-padding: 10;
}