<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://limayankee.com/bomber_man?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">bomber_server</property>
        <property name="hibernate.connection.password">X1sww*04</property>

        <mapping class="ch.heigvd.bomberman.common.game.Wall"/>
        <mapping class="ch.heigvd.bomberman.common.game.Box"/>
        <mapping class="ch.heigvd.bomberman.common.game.powerups.AddBombPowerUp"/>
        <mapping class="ch.heigvd.bomberman.common.game.Player"/>
        <mapping class="ch.heigvd.bomberman.common.game.StartPoint"/>
        <mapping class="ch.heigvd.bomberman.common.game.Arena.Arena"/>
        <mapping class="ch.heigvd.bomberman.common.game.Game"/>
        <mapping class="ch.heigvd.bomberman.common.game.Statistic"/>

    </session-factory>

</hibernate-configuration>